@charset "UTF-8";
header {
  background-color: black;
  display: flex;
  justify-content: space-evenly; }
  header ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding-bottom: 1.2rem;
    padding-top: 1.2rem; }
    header ul li a {
      color:  #caa3ec;
      text-decoration: none;
      font-size: 1.1rem;
      font-family: cursive;
      padding: 1.2rem; }

ul li a:hover {
  color:   #ffcaaf; }

  .carrito,.logo {
    padding-top:20px;
  }
  
  .cardContainer {
    background-color: #e4d0fd;
    background-color: #81768b;
    padding:3%;
    display: flex;
    justify-content:center;
    flex-flow: row wrap;
    width: 100%; }

    .card {
      display: flex;
      flex-direction: column;
      background-color: rgb(232, 241, 241);
      padding: 3%;
      margin: 50px; 
      border:#302d2d;
      border-radius: 10px;}

    
    .buttonProd {
      display: flex;
      justify-content: center;
      background-color: #e0dbdb;
      color: #302d2d;
      margin-bottom: 1%;
      font-size: 22px;
      padding-top:3%;
      padding-bottom: 3%;
      margin-right: 15%;
      margin-left: 15%;
      margin-top:8%;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      font-size: 18px;
     
     }

     .cartPrice {
      display: flex;
      flex-direction: row;
      justify-content: space-around; }

     .cartTitle{
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
