@charset "UTF-8";
header {

  background-color: black;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly; }
  header ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding-bottom: 1.2rem;
    padding-top: 1.2rem; }
    header ul li a {
      color:  #caa3ec;
      text-decoration: none;
      font-size: 1.1rem;
      font-family: cursive;
      padding: 1.2rem; }

ul li a:hover {
  color:   #ffcaaf; }

  .carrito,.logo {
    padding-top:25px;
    padding-bottom: 20px;;
  }
  
  .cardContainer {
      background-color: #81768b;
      background-color: #d8d2df;
      background-color: #dad7de;
      padding:3%;
      display: flex;
      justify-content:center;
      flex-flow: row wrap;
      width: 100%; }

    .card {
      display: flex;
      flex-direction: column;
      justify-content: center; 
      background-color: rgb(232, 241, 241);
      padding: 3%;
      margin: 50px; 
      border:#302d2d;
      border-radius: 10px;}

      .cardDetail {
        display: flex;
        flex-direction: row;
        justify-content: ; 
     
        padding: 3%;
        margin: 50px; 
        border:#302d2d;
        border-radius: 10px;}

      .detailImage {
    padding-right:10%;
        }
    
    .buttonProd {
      display: flex;
      justify-content: center;
      flex-direction: row;
      width: 90%;
      margin-left:5%;
      background-color: #e0dbdb;
      color: #302d2d;
      margin-bottom: 1%;
      padding-top:3%;
      padding-bottom: 3%;
      margin-top:8%;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      font-size: 18px;
     
     }

    
     .buttonDetail {
      display: flex;
      justify-content: center;
      flex-direction: row;
      width: 100%;
      margin-left:5%;
      background-color: #e0dbdb;
      color: #302d2d;
      margin-bottom: 1%;
      padding-top:3%;
      padding-bottom: 3%;
      margin-top:20%;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      font-size: 18px;
     
     }

     .buttonGoToCart{

      display: flex;
      justify-content: center;
      flex-direction: row;
      width: 150px;
 
      background-color: #e0dbdb;
      color: #302d2d;
      padding: 10%;
      margin-top:40%;
      margin-left: 15%;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      font-size: 18px;
     }

    .buttonCart2{
      display: flex;
      margin-left:30%;

     }

     .cartPrice {
      margin-left:35%;
      flex-direction: row;
      justify-content: center;
   }

     .cartTitle{
      display: flex;
      flex-direction: row;
      justify-content: space-around; }

     .cartTitleDetail
     {display: flex;
      font-size:xx-large;
      flex-direction: row;
      justify-content: space-around;
     }
     